/* Start Variables */
:root {
    --main-color: #46a79dba;
    --second-color: red;
    --therd-color: #ea723d;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Comme', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* End Global Rules */
/* Start Components */
.boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px 15px;
    margin-top: 5px;
    background-color: #EEE;
    padding: 30px 15px 25px 50px;
    width: 100%;
}
.box {
    width: 100%;
    background-color: white;
    position: relative;
}
img {
    width: 100%;
    position: relative;
}
a {
    border: 1px solid white;
    padding: 15px;
    display: none;
    position: absolute;
    top: 17%;
    left: 33%;
    background-color: #46a79dba;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    width: fit-content;
}
a:hover {
    display: inline;
}
.box::before {
    content: "Hot";
    background-color: red;
    position: absolute;
    width: fit-content;
    padding: 7px;
    z-index: 5;
    color: white;
    top: 34%;
    left: 4%;
    border-radius: 7px;
}
img::after {
    font-family: 'Comme', sans-serif;
    content: "\f3ed";
    position: absolute;
    z-index: 5;
    color: white;
    top: 50%;
    left: 20%;
}
.feat {
    position: absolute;
    top: -5%;
    background-color: #ea723d;
    padding: 8px;
    color: white;
}
.feat::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border: 20px solid;
    border-color: transparent transparent transparent #ea723d;
    left: 100%;
    top: 0;
}
h4 {
    margin-left: 40px;
    font-size: 23px;
}
.box .nnn {
    margin-left: 40px;
    color: #474747;
    width: 80%;
}
.specifi {
    display: flex;
    
}
h5 {
    margin-left: 38px;
    margin-bottom: 25px;;
}
i {
    margin-left: 35px;
    color: #474747;
}
.icon span {
    margin-left: 5px;
    color: black;
}
.fa-cube {
    margin-left: 55px;
}
.fa-font-awesome {
    margin-left: 90px;
}
.fa-mug-saucer {
    margin-left: 60px;
}
.icon span:last-child:after {
    content: "Sp Ft";
    font-size: 15px;
    margin-left: 9px;

}
.parice h6 {
    font-size: 20px;
    margin-left: 41px;
}
.parice p {
    font-size: 27px;
    font-weight: bold;
    margin-left: 42px;
    margin-top: -40px;
    color: var(--main-color);
}
/* End Components */